<!doctype html>
<html>
	<head>
		<title>TechMap</title>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/gojs/1.8.26/go-debug.js"></script>
		<script src="/scripts/test.js"></script>	

		<link rel="stylesheet" type="text/css" href="/css/header.css">
		<link rel="stylesheet" type="text/css" href="/css/home.css">
		<link rel="stylesheet" type="text/css" href="/css/template.css">
	</head>
	<body onload="init()">
		<!-- change logo -->
		<header></header>
		{{{body}}}
	</body>
</html>